<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body style="background-image: url('/image/beautifull.jpg');">
    <div class="create-user">
        <form action="/create-new" method="post">
            <div><b>Add New User</b></div>
            <div>
                <label>FirstName:</label>
                <input type="text" name="firstName" />
            </div>
            <div>
                <label>LastName:</label>
                <input type="text" name="lastName" />
            </div>
            <div>
                <label>Email:</label>
                <input type="email" name="email" />
            </div>
            <div>
                <label>Address:</label>
                <input type="text" name="address" />
            </div>
            <div>
                <button type="submit" class="btn-submit">Submit</button>
            </div>
        </form>
    </div>
</body>

</html>